<%- include("partials/header") %>
<h1>SignUp</h1>

<form class="" action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" name="button">SignUp</button>
</form>
<%- include("partials/footer") %>
